body {
  background-color: var(--mainWhite);
  --fontPoppins: "Poppins", sans-serif;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainBGwhite);
  border-bottom: 0.7px solid #C4C4C4;
  ;
}
.logo {
  font-size: 29px;
  font-weight: 700;
  line-height: 43.5px;

  color: var(--mainTextBlue);

  margin-top: 31px;
  margin-left: 32px;
  margin-bottom: 27px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 167px;
  margin-right: 31px;
}
.navbar ul {
  display: flex;
  gap: 75px;
  /* margin-top: 40px; */
}
.navbar a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--mainTextBlack);
}
.navbar li:first-child a {
  color: var(--mainTextBlue);
}
.header-btn {
  border: none;
  background-color: var(--mainTextBlue);
  border-radius: 6px;
  height: 41px;
}
.header-btn a {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;

  color: var(--mainWhite);
}
